# Laravel 
Backend/vendor/ 
Backend/.env 
Backend/storage/*.key 
Backend/storage/framework/cache/* 
Backend/storage/framework/sessions/* 
Backend/storage/framework/views/* 
Backend/storage/logs/*.log 
Backend/bootstrap/cache/*.php 
Backend/database/database.sqlite 
 
# React Vite Web-admin 
Web-admin/node_modules/ 
Web-admin/dist/ 
Web-admin/.env 
 
# Expo Mobile 
Mobile/node_modules/ 
Mobile/.expo/ 
Mobile/dist/ 
 
# General 
.DS_Store 
*.log 
